markdown: kramdown
title: ERM Identifier Database
description: This database provides information about materials with an European Registry of Materials (ERM) identifer for which information was disclosed.
baseurl: "/erm-database" # the subpath of your site, e.g. /blog
url: "https://nanocommons.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
theme: minima
paginate: 7
show_excerpts: true
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll/mastodon_webfinger
  - jekyll-paginate

feed:
  tags: true

tags:
