---
layout: base
---
<!-- Source: https://github.com/qian256/qian256.github.io/blob/master/_includes/collecttags.html (MIT license) -->

{% assign title_parts = page.title | split: ':' %}
{% assign clean_title = title_parts[1] | strip %}
{% assign down_title = clean_title | downcase %}

{% assign substance_split = page.tag | split:':' %}
{% assign substance = substance_split[1] %}

{% if page.smiles %}
<img src="https://cdkdepict.toolforge.org/depict/bow/svg?smi={{ page.smiles | escape }}&abbr=on&hdisp=bridgehead&showtitle=false&zoom=2&annotate=cip" style="width: 300px; float: right"></img>
{% endif %}

<div class="post">
<h1 class="tag-title">{{ clean_title }}</h1>
<p class="post-meta"><i class="fa-solid fa-flask-vial"></i> {{ page.tag }}</p>
<ul>
{% for post in site.tags[page.tag] %}
  {% if post.lang %}
  <li lang="{{post.lang}}">
  {% else %}
  <li>
  {% endif %}
  	<a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
  	{{ post.description }}
  	<!-- Tags: {{ post.tags | join: ", " }} -->
  </li>
{% endfor %}
</ul>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ChemicalSubstance",
  "@id": "{{ page.url | prepend: site.url }}",
  "http://purl.org/dc/terms/conformsTo": {
    "@type": "CreativeWork",
    "@id": "https://bioschemas.org/profiles/ChemicalSubstance/v0.4-RELEASE"
  },
  "url": "{{ page.url | prepend: site.url }}",
  "name": "{{ down_title }}",
  "description": "Chemical substance page for {{ down_title }} with chem-bla-ics blog posts about the substance."
}
</script>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
