---
layout: base
---
<!-- Source: https://github.com/qian256/qian256.github.io/blob/master/_includes/collecttags.html (MIT license) -->

<div class="post">
<h1 class="tag-title">{{ page.title }}</h1>
<p class="post-meta">
  <a href="{{ '/feed/by_tag/' | append: page.tag | append: '.xml' | relative_url }} "><i style="color: #FFA500" class="fa-solid fa-square-rss"></i></a>&nbsp;
  <i class="fa-solid fa-tag"></i> {{ page.tag }}&nbsp;
</p>
<p>{{ content }}</p>
<h2>Blog posts</h2>
<ul>
{% for post in site.tags[page.tag] %}
  {% if post.lang %}
  <li lang="{{post.lang}}">
  {% else %}
  <li>
  {% endif %}
  	<a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
  	{{ post.description }}
  	<!-- Tags: {{ post.tags | join: ", " }} -->
  </li>
{% endfor %}
</ul>
</div>

{% if page.tags.size > 0 %}
  <div class="post-footer" id="bibliographyDIV" style="visibility: hidden">
  <b class="post">Further reading</b>
  <p class="post-meta" id="bibliography"></p>
  </div>
  <script>
const cite = new Cite()
{% assign tags = page.tags | split:' ' %}
dois = []
{% for tag in tags %}
  {% assign check = tag | split:':' %}
  {% if check.size > 1 %}
    {% if check[0] == "doi" %}
      {% capture doi %}{{ check[1] }}{% endcapture %}
dois.push("{{ doi }}")
    {% endif %}
  {% endif %}
{% endfor %}
if (dois.length > 0) {
  Cite.async(dois).then(function(cite) {
    content = cite.format('bibliography', {
      format: 'html', template : 'apa',
      prepend: function (entry) {
        return '<i class="fa-solid fa-file fa-xs"></i><a href="../work/' + entry.DOI.toUpperCase() + '"><code class="highligher-rouge"><nobr>' + entry.DOI + '</nobr></code></a>&nbsp;'
      },
      append: function (entry) {
        return ' <a href="https://doi.org/' + entry.DOI + '">CrossRef</a> <a href="https://scholia.toolforge.org/doi/' + entry.DOI + '">Scholia</a>'
      }
    })
    document.getElementById('bibliography').innerHTML = content
    document.getElementById('bibliographyDIV').style.visibility = "visible"
  })
}
  </script>
{% endif %}
